<div class="player-container">
    <button class="btn btn-control btn-control_mute"><i class="fa fa-volume-up"></i></button>
    <div class="info">
        <p class="song song-name">Nothing Else Matters</p>
        <p class="song song-band">Metallica</p>
        <img src="http://rollingstone.uol.com.br/media/images/large/2015/09/20/img-1033770-metallica.jpg" alt="Artist Image" class="artist-img">
    </div>
    <button class="btn btn-control btn-control_prev"><i class="fa fa-backward"></i></button>
    <button class="btn btn-play"><i class="fa fa-play fa-2x"></i></button>
    <button class="btn btn-control btn-control_next"><i class="fa fa-forward"></i></button>
</div>
