<div class="player-container">
    <button class="btn btn--mute">
      <i class="icon-volume-up"></i>
    </button>

    <div class="info">
        <p class="song song-name">Nothing Else Matters</p>
        <p class="song song-band">Metallica</p>
        <img src="http://rollingstone.uol.com.br/media/images/large/2015/09/20/img-1033770-metallica.jpg" alt="Artist Image" class="artist-img">
    </div>

    <button class="btn btn--prev">
      <i class="icon-backward"></i>
    </button>
    <button class="btn btn--play">
      <i class="icon-play"></i>
    </button>
    <button class="btn btn--next">
      <i class="icon-forward"></i>
    </button>
</div>
