<div class="player-container">
    <button class="btn btn-control btn-control_prev"><i class="fa fa-backward"></i></button>
    <button class="btn btn-play"><i class="fa fa-play fa-2x"></i></button>
    <button class="btn btn-control btn-control_next"><i class="fa fa-forward"></i></button>
    <button class="btn btn-control btn-control_mute"><i class="fa fa-volume-up"></i></button>
</div>
